<div class="login-main">
  <h2>Reset Password</h2>
  <form (submit)="updatePassword()">

      <div class="k-form-field">
          <kendo-textbox-container floatingLabel="Enter New password">
              <input kendoTextBox type="password" name="newPassword" [(ngModel)]="newPassword" />
          </kendo-textbox-container>
      </div>

      <div class="k-form-field">
          <kendo-textbox-container floatingLabel="Confirm New password">
              <input kendoTextBox type="password" name="newPasswordAgain" [(ngModel)]="newPasswordAgain" />
          </kendo-textbox-container>
      </div>

      <div *ngIf="showAlert" class="alert alert-info mt-2">
          Passwords don't match , please try again.
      </div>

      <div class="mb-3">
          <button kendoButton type="submit" class="float-right reset-btn" [disabled]="newPassword==''">Save</button>
      </div>
  </form>
</div>

<ngx-spinner></ngx-spinner>
